@media screen and (max-width: 935px){
	.wrapper {margin: 0 7vw;}
	.about-copy {
		width: 100%;
		margin-top: 0;
	}
	.about.about-copy {padding: 2em;}
	.flip-container {
		position: static;
		margin: 2em auto 0;
	}	
	#oferta [class*="col-"], #atrakcje [class*="col-"] {
		float: none;
		width: 100%;
		height: 45vw;
	}
	.to-right {
		float: none;
		height: 45vw;
	}
	#kontakt [class*="col-"] {
		float: none;
		height: auto;
		width: 100%;
	}
	#kontakt .col-4 {padding: 2em 0;}
	.contactForm, .directions {margin-bottom: 3em;}
	.arrow-up svg {
		height: 3em;
		width: 3em;
	}
}

@media screen and (max-width: 767px){
	#navigation ul li:not(:first-child) {display: none;}
	#navigation ul li.icon {
		float: right;
		display: inline-block;
	}
	#navigation ul.toggle-nav.responsive {
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100%;
		background-color: rgba(255,255,255,.9);
		padding-top: 25vh;
	}
	#navigation ul.toggle-nav.responsive li.icon {
		position: absolute;
		right: 7vw;
		top: 0;
	}
	#navigation ul.toggle-nav.responsive li.hvr-overline-from-center:before {display: none;}
	#navigation ul.toggle-nav.responsive li {
		float: none;
		display: block;
		font-weight: bold;
	}
	#navigation ul.toggle-nav.responsive li a {
		display: block;
		text-align: center;
	}
	#navigation ul li:first-child, #navigation ul li:first-child a {text-align: left;}
	#lokalizacja .col-6 {
		float: none;
		width: 100%;
	}
	.location-copy.first {margin: 0 0 2em 0;}
	.location-copy.second {margin: 0;}
	.about-copy {padding: 2em;}
}

@media (max-width: 736px){
	.directions {display: none;}
	#atrakcje {display: none;}
	#navigation .toggle-nav.responsive li:nth-child(4){display: none;}
	#oferta .tiles {padding-bottom: 2em;}
	#home {display: none;}
	#navigation {
		position: fixed;
		top: 0;
		width: 100%;
		background-color: #fff;
		z-index: 100;
	}
}

@media screen and (max-width: 430px){
	section {padding: 0;}
	h2 {
		text-align: center;
		padding: 2em 0 1em;
	}
	#onas h2 {padding: 4em 0 1em;}
	.details {padding: 3vw;}
}