/*Franka Camp website made by KatDrabarek, 2016.*/

/*Fonts used:
font-family: 'Roboto', sans-serif;
font-family: 'Lobster Two', cursive;*/

/*1. General.*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	font-size: 8.5em;
}

h2 {
	font-size: 1.5em;
	padding: 2em 0;
}

body {
	font-family: 'Roboto', sans-serif;
	position: relative;
}

.wrapper {
	margin: 0 10vw;
	height: 100%;
	position: relative;
}

a {
	color: #507a6e;
	text-decoration: none;
}

a:focus {
	outline: 1px dotted #507a6e;
}

section {
	padding: 2em 0;
}

section::after {
	content: "";
	display: block;
	clear: both;
}

.title {
	font-family: 'Lobster Two', cursive;
	font-style: italic;
	font-size: 1.3em;
	font-weight: bold;
}

.center {
	display: table;
	width: 100%;
	height: 100%;
}

.center>div {
	display: table-cell;
	vertical-align: middle;
}

/*2. Navigation.*/
nav {
	font-size: 1.2em;
	position: absolute;
	width: 100%;
	z-index: 101;
	background-color: #fff;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #fff;
	z-index: 100;
}

header {
	color: #fff;
	float: left;
}

nav ul {
	text-align: right;
}

li {
	display: inline-block;
	padding: 1vh 2vw;
}

/* Overline From Center
* Hover.css (http://ianlunn.github.io/Hover/) Version: 2.0.2
* Author: Ian Lunn @IanLunn URL: http://ianlunn.co.uk/ Github: https://github.com/IanLunn/Hover
* Made available under a MIT License: http://www.opensource.org/licenses/mit-license.php
* Hover.css Copyright Ian Lunn 2014. Generated with Sass. */
.hvr-overline-from-center {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	overflow: hidden;
}
.hvr-overline-from-center:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 50%;
	right: 50%;
	top: 0;
	background-color: #507a6e;
	height: 4px;
	-webkit-transition-property: left, right;
	transition-property: left, right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-overline-from-center:hover:before, .hvr-overline-from-center:focus:before, .hvr-overline-from-center:active:before {
	left: 0;
	right: 0;
}

nav ul li.icon {
	display: none;
}

nav ul li:first-child {
	float: left;
	padding: 0;
}

nav ul li:first-child::after {
	content: "";
	display: block;
	clear: both;
}

/*3. Home section.*/
#home {
	background-image: url("pics/bg1-blurred.jpg");
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
	height: 100vh;
	font-size: 2em;
	text-align: center;
	transition: 500ms ease-in-out;
}

#home.slideUp {
	height: 0;
	padding: 0;
	overflow: hidden;
}

#home h1 {
	font-size: 14vw;
}

.arrow-down a {
	display: inline-block;  
	position: relative;
	top: 10vh;
	transition: .3s ease;
}

.arrow-down a:hover, .arrow-down a:focus {
	top: 11vh;
}


/*4. About section.*/
.about {
	text-align: center;
}

.about-copy {
	box-shadow: 0 0 1.5em 0.1em #eee;
	width: 55vw;
	padding: 5em;
	margin: 5em auto;
	position: relative;
}

.badge-copy {
	color: #fff;
	max-width: 138px;
	position: absolute;
	top: 44px;
	text-align: center;
}

/*Flip badge styles below:*/
.flip-container {
	perspective: 1000px;
	position: absolute;
	top: -3em;
	right: -3em;
}

.flip-container:hover .flipper, .flip-container:focus .flipper {
	transform: rotateY(180deg);
}

.flip-container, .badge-front, .badge-back {
	width: 140px;
	height: 140px;
}

.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

.badge-front, .badge-back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.badge-front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

.badge-back {
	transform: rotateY(180deg);
}
/* ^ flip badge styles above ^ */

.about-cta {
	background-color: #1a1a1a;
	padding: 5em 1em;
	background: 
	linear-gradient(
		rgba(80,122,110,.6), 
		rgba(80,122,110,.6)
		),
	url(pics/dzieci.jpg);
	background-position: center;
}

.about-cta>h3, .about-cta>h4 {
	padding: 2em 0 .5em;
	color: #fff;
	letter-spacing: 1px;
	font-size: 1.6em;
}

.about-cta>h4 {
	font-size: 1.3em;
	padding: 0 0 2em;
}

.about-cta .badge {
	top: 0;
	left: 0;
	position: relative;
	font-family: 'Lobster Two', cursive;
	font-size: 1.8em;
	display: inline-block;
	border-radius: 50%;
	width: 130px;
	height: 137px;
	animation: beacon 3s ease-in-out infinite;
}

@keyframes beacon {
	0%, 70% {
		box-shadow: 0 0 1.5em -1em rgba(255, 255, 255, .5);
	}
	100% {
		box-shadow: 0 0 1.5em 3em rgba(255, 255, 255, 0);
	}
}

.about-cta .badge-copy {
	color: #000;
	max-width: 138px;
	position: static;
	text-align: center;
}

.badge svg {
	position: relative;
	left: -2px;
}

.about-cta .badge:focus {
	outline: 1px dotted #507a6e;
}

.badge svg:hover, .badge svg:focus {
	box-shadow: 0 0 1.5em 0.1em #fff;
	border-radius: 50%;
}

/*5. Offer section.*/
.tiles {
	width: 100%;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
	float: left;
	border: 10px solid #fff;
	height: 26vw;
	background-size: cover;
	text-align: center;
}

.row::after {
	content: "";
	clear: both;
	display: block;
}

.to-right {
	float: right;
	height: 52vw;
}

.room1 {background-image: url(pics/pokoj1.jpg);}
.room2 {background-image: url(pics/pokoj2.jpg);}
.room3 {background-image: url(pics/pokoj3.jpg);}
.livingroom {background-image: url(pics/kominek.jpg);}
.diningroom {background-image: url(pics/jadalnia.jpg);}
.kitchen {background-image: url(pics/kuchnia.jpg);}
.camping {background-image: url(pics/ogrod.jpg);}
.parking {background-image: url(pics/parking.jpg);}
.playground {background-image: url(pics/dzieci.jpg);}
.fireplace {background-image: url(pics/ognisko.jpg);}
.pathway {background-image: url(pics/spacer.jpg);}

.details {
	color: #fff;
	visibility: hidden;
	padding: 3em;
	background: 
	linear-gradient(
		rgba(0,0,0,.6), 
		rgba(0,0,0,.6)
		);
	position: relative;
}

.tile:hover .details, .tile:focus .details {
	visibility: visible;
}

.details>div>div {
	width: 3vw;
	height: 3vw;
	border: 1px solid #fff;
	position: absolute;
}

.details div div:nth-of-type(1){
	top: 3vw;
	left: 3vw;
	border-width: 1px 0 0 1px;
}

.details div div:nth-of-type(2){
	top: 3vw;
	right: 3vw;
	border-width: 1px 1px 0 0;
}

.details div div:nth-of-type(3){
	bottom: 3vw;
	left: 3vw;
	border-width: 0 0 1px 1px;
}

.details div div:nth-of-type(4){
	bottom: 3vw;
	right: 3vw;
	border-width: 0 1px 1px 0;
}

/*6. Tourist attractions section.*/
#atrakcje .tiles {
	padding-bottom: 2em;
}

#atrakcje .tile {
	background-image: url(pics/atrakcje.jpg);
}

.attractions.about-copy {
	text-align: center;
	margin: 0 auto 2em;
}

/*7. Location section.*/
#lokalizacja [class*="col-"] {
	border: none;
	height: auto;
}

.location-copy {
	background-color: #fff;
	color: #000;
	padding: 2em;
	text-align: center;
}

.location-copy.first {
	margin-right: 1em;
}

.location-copy.second {
	margin-left: 1em;
}

#lokalizacja h3, #atrakcje h3 {
	padding-bottom: 1em;
}

.map-container {
	position: relative;
}

.overlay {
	background-color: rgba(80,122,110,.2);
	position: absolute;
	width: 100%;
	height: 60vh;
}

.map {
	margin-top: 3em;
}

#lokalizacja iframe {
	width: 100%;
	height: 60vh;
}

/*8. Contact section.*/
#kontakt, #lokalizacja, footer {
	background-color: #1a1a1a;
	color: #fff;
}

#kontakt [class*="col-"] {
	float: left;
	border: none;
	height: 14em;
}

.socialIcons {
	text-align: center;
}

.socialIcons a {
	color: #fff;
}

.arrow-up {
	position: relative;
	top: -1.6em;
}

.subtitle {
	padding: 1em 0;
	text-transform: uppercase;
	font-size: 1.2em;
	letter-spacing: 1px;
}

#kontakt .contactForm {
	height: 25em;
}

form input, form textarea {
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	width: 94%;
	padding: 5px;
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
	resize: none;
	overflow-y: auto;
	background-color: #1a1a1a;
	color: #fff;
}

form input:focus, form textarea:focus {
	border: 1px solid #fff;
}

.submitButton {
	background-color: #507a6e;
	border: none;
	color: #fff;
	font-family: 'Arial', sans-serif;
	font-size: .8em;
	text-transform: uppercase;
	padding: 1em;
	width: 8em;
	margin: 1em;
}

.submitButton:hover, .submitButton:focus {
	background-color: #fff;
	color: #507a6e;
	cursor: pointer;
}

.directions svg {
	float: left;
	margin: 1em 2em;
}

.dir-item {
	margin: 2em 1em;
}

.dir-item p {
	text-align: left;
}

/*9. Footer.*/
footer {
	font-size: .7em;
	letter-spacing: 1px;
	padding: 1em;
	text-align: center;
}

footer::before {
	content: "";
	display: block;
	clear: both;
}

footer span {
	font-size: 1.2em;
}

footer a {
	color: #fff;
}

footer a:hover, footer a:focus {
	text-decoration: underline;
}

.credits {
	font-size: .8em;
}